  <nav>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
        <%= link_to 'Inicia Sesión', new_user_session_path, class: "nav-link active" %>
        </li>
        <li>
        <%= link_to 'Regístrate', new_user_registration_path, class: "nav-link active" %>
        </li>
        <li>
        <%= link_to 'Cerrar Sesión', destroy_user_session_path, class: "nav-link active", method: :delete %>
        </li>
      </ul>
</nav>